/* ===== BARRE DE MENU ===== */

/* identifiant titre de page dans le menu */
#titre{
    transform: rotate(-10deg);
    margin: 10px;
    margin-right: 70px;
}

/* conteneur bandeau de menu */
#bandeau{
  background-image:linear-gradient(40deg,rgb(204,229,255,0.9),rgba(255,204,204,0.9));/* couleur
  de font dégradée avec opacité */
  top: 0%; /* positionne le menu par rapport au haut de page */
  width: 100%; /* force le background a occuper toute la largeur et pas uniquement
  ou se trouve le texte */
  position: fixed;
  display: flex;
}

/* conteneur de menu */
nav{
  display: flex;
  justify-content: center;
}

/* liens de menu */
nav a{
  font-family: Arial, Verdana, "Trebuchet MS";
  font-size:1.3em;
  text-decoration: none; /* enleve le soulignement des liens du menu */
  color: rgb(153,102,102);
}

aside nav{
    font-family: Arial, Verdana, "Trebuchet MS";
    font-size: 0.9em;
    text-align: justify;
    text-decoration: none; /* enleve le soulignement des liens du menu */
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 8%;
    margin-left: 2%;
    margin-right: 70%;
}

nav a:hover{ /* liens du menu au survol */
  font-weight: bold;
  color: white;
}

.element{ /* classe élément de menu */
  margin: 15px;
  margin-top: 40px;
}

/* Image défilante avec texte à l'intérieur */
.heroImage{ /* image dans laquelle on veut insérer des propriétés de texte */
  background-image: url("fondTitre.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  position: relative;
  height: 300px;
}

.heroTexte{ /* affiche le texte au milieu, horizontalement et verticalement */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

/* ===== TITRES ===== */

h1{ /* titre principal */
  font-family: "Comic Sans MS", Arial, Verdana, "Trebuchet MS";
  color: rgb(153,102,102);
}

h2{ /* titre document */
  font-family: Arial, Verdana, "Trebuchet MS";
  color: rgb(153,102,102);
  font-size: 3em;
}

h3{/* titres paragraphes */
  font-size: 1.7em;
  margin-top: 40px;
  font-family: Arial, Verdana, "Trebuchet MS";
  color: rgb(0,153,153);
  border-bottom: 1px solid rgb(0,153,153);
}

h3::before{/* compteur de titre */
  counter-increment: compteur_titre;
  content: counter(compteur_titre) ". ";
}

h4{ /* sous-titres paragraphes */
  font-size: 1.2em;
  font-style: italic;
  margin-top: 40px;
  font-family: Arial, Verdana, "Trebuchet MS";
  color: rgb(0,153,153);
}

/* ===== PRINCIPALES BALISES ===== */

body{
  counter-reset: compteur_titre;
}

header{ /* entête */
  margin-top: 100px;
}

footer{ /* pied de page */
  font-family: Arial, Verdana, "Trebuchet MS";
  font-size: 0.9em;
  color: #828786;
  text-align: center;
  height: 20%;
  margin: 20px;
}

p{ /* paragraphes */
  font-family: Arial, Verdana, "Trebuchet MS";
  font-size: 1.2em;
  text-align: justify;
}

.pcle{ /*paragraphes de mots-clés */
  width: 80%;
  margin: auto;
  color: rgb(153,102,102);
  font-family: Arial, Verdana, "Trebuchet MS";
  font-size: 1.2em;
  text-align: justify;
  font-style: italic;
}

strong{ /* mise en valeur */
  font-weight: bold;
}

figure{ /* figure */
  text-align: center;
}

fieldset{ /* cadre avec titre */
  width: 70%;
  margin: auto;
  border: 2px rgb(153,102,102) solid;
  border-radius: 10px;
  box-shadow: 1px 8px 12px #555;
  padding-bottom:0px;
  padding-top:0px;
  margin-bottom:30px;
}

/*pre{ /* lignes de codes */
  /*color: rgb(153,102,102);
  font-family: Courier;
  padding-left: 5px;
  margin-bottom:0px;
}*/

ul{ /* Listes */
  font-family: Arial, Verdana, "Trebuchet MS";
  font-size: 1.2em;
  list-style-image: url('puce.png');
}

ol{ /* Listes */
  font-family: Arial, Verdana, "Trebuchet MS";
  font-size: 1.2em;
}


#principal{ /* le corps du document sans le menu et le header */
  /*width: 70%;*/
  margin-right: 10%;
  margin-left: 30%;
  /*margin: auto; /* pour centrer le document */
}

.legendeCode{/* légende des lignes de code */
  font-size:0.8em;
  color: #807070;
  text-align: right;
  margin-top: 5px;
  height:30px;
}

legend{
  color: rgb(153,102,102);
}

.ulExemple{
  font-family: Arial, Verdana, "Trebuchet MS";
  font-size: 1.2em;
  list-style-type: square;
}

.image{
  border: 2px black solid;
  width: 60%;
}

.bloc{
  display: flex;
  align-items: center;
  justify-content: center;
}

.droite{
  margin:15px;
}

.gauche{
  margin:15px;
  margin-left:0px;
}

/* ===== LIENS ===== */
a{
  color: black;
  text-decoration: underline;
}

a:hover{
  font-weight: bold;
  color: rgb(153,102,102);
}

/* ===== TABLEAUX ===== */

table{
  font-family: Arial, Verdana, "Trebuchet MS";
  font-size: 1.2em;
  border-collapse: collapse; /* colle les cellules du tableau entre elles */
}

td{
  border: 1px solid rgb(153,102,102);
}

td, th{
  font-family: Arial, Verdana, "Trebuchet MS";
  padding-left: 30px;
  border: 1px solid rgb(153,102,102);
}

td pre{
  font-size:0.8em;
}

/* ===== LES CLASSES UTILISEES ===== */



/* ===== LES MISES EN FORMES POUR EXEMPLES ===== */
/* Ces mises en forme ne sont pas utilisées pour l'ensemble de la page, mais
uniquement pour l'affichage de certains exemples */
.exempleBloc:nth-child(1){ /* exemples html "La mise en page avec Flexbox" */
  background-color: #CF6084;
}
.exempleBloc:nth-child(2){
  background-color: #70995E;
}
.exempleBloc:nth-child(3){
  background-color: #33A9CC;
}

#exempleBloc10-1{
  background-color: #CF6084;
}
#exempleBloc10-2{
  background-color: #70995E;
}
#exempleBloc10-3{
  background-color: #33A9CC;
  align-self: flex-end;
}

#exempleBloc11-1{
  background-color: #CF6084;
  order: 2;
}
#exempleBloc11-2{
  background-color: #70995E;
  order: 1;
}
#exempleBloc11-3{
  background-color: #33A9CC;
  order: 3;
}

#exempleBloc12-1{
  background-color: #CF6084;
  flex: 1;
}
#exempleBloc12-2{
  background-color: #70995E;
}
#exempleBloc12-3{
  background-color: #33A9CC;
}

#exempleBloc13-1{
  background-color: #CF6084;
  flex: 2;
}
#exempleBloc13-2{
  background-color: #70995E;
  flex: 1;
}
#exempleBloc13-3{
  background-color: #33A9CC;
}

#exempleConteneur1{
  border: 1px black dotted;
  display: flex;
  flex-direction: row;
}
#exempleConteneur2{
  border: 1px black dotted;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#exempleConteneur3{
  border: 1px black dotted;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#exempleConteneur4{
  border: 1px black dotted;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#exempleConteneur5{
  border: 1px black dotted;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#exempleConteneur6{
  border: 1px black dotted;
  display: flex;
  flex-direction: row-reverse;
}
#exempleConteneur7{
  border: 1px black dotted;
  display: flex;
  flex-direction: column;
}
#exempleConteneur8{
  border: 1px black dotted;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
#exempleConteneur9{
  border: 1px black dotted;
  display: flex;
  flex-direction: column-reverse;
}
#exempleConteneur10{
  border: 1px black dotted;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
#exempleConteneur12{
  border: 1px black dotted;
  display: flex;
  flex-direction: row;
}

#blocIndependant{ /* exemple html "la notion de bloc" */
  background-color: #33A9CC;
}
#span1{
  background-color: #CF6084;
}
#span2{
  background-color: #70995E;
}




