/*
###################################################################
# header                                                          #
###################################################################

===================================================================
= bandeau                                                         =
= ................ .............................................. =
= . h1           . . nav                                        . =
= ................ .............................................. =
===================================================================

================== ================================================
= aside          = = principal                                    =
= ================ ================================================

###################################################################
# footer                                                          #
###################################################################
*/


/* header */
header{
  background-color: #999966;
}

#header_haut{
  display: flex;
    align-items: left;
    justify-content: left;
}

#imageGauche_header{
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: -2%;
}

#imageDroite_header{
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}

/* titre de page */
h1{
  font-family: Cambria, Verdana, Arial;
  text-align: center;
  color: rgb(41, 61, 61); /*rgb(153,102,102);*/
  margin: 2%;
  margin-left:30%;
}

/* ===== BARRE DE MENU ===== */

/* conteneur bandeau de menu */
#bandeau{
  background-image:linear-gradient(40deg, rgba(0, 153, 204, 0.9),rgba(255,204,204,0.9));/* couleur
  de font dégradée avec opacité */
  /*top: 0%; /* positionne le menu par rapport au haut de page */
  width: 100%; /* force le background a occuper toute la largeur et pas uniquement
  ou se trouve le texte */
  display: flex;
  flex-direction: row; /* crée le menu horizontalement */
  justify-content: center;
}


/* conteneur de menu */
nav{
  display: flex;
  flex-direction: row;
}

/* liens de menu */
nav a{
  font-family: Cambria, Verdana, Arial;
  font-size:1.3em;
  text-decoration: none; /* enleve le soulignement des liens du menu */
  color: rgb(41, 61, 61);/*rgb(51,153,255);*/
}

/* comportement des liens du menu au survol */
nav a:hover{
  font-weight: bold;
  color: rgb(153,102,102);
}

/* classe élément de menu */
.element{
  margin: 15px;
  margin-left: 40px;
}

/* ====== ASIDE ======= */

/* logo de menu */

.logo{
      width: 40px;
      height: 40px;
      margin: 4%;
}


/* conteneur de menu */
aside nav{
    font-family: Cambria, Verdana, Arial;
    font-size: 0.9em;
    text-align: justify;
    text-decoration: none; /* enleve le soulignement des liens du menu */
    display: flex;
    flex-direction: column; /* crée le menu verticalement */
    position: fixed; /* empêche le déroulement du menu avec la souris */

}

#table_matieres{
    margin-left: 2%;
    margin-right: 70%;
    padding-right: 2%;
}

#chapitres{
    margin-left: 92%;
    margin-top: 10%;
}

/* liens du menu */
aside nav a{
    color: rgb(153,102,102);
}

/* ===== TITRES ===== */

img{
    /*margin-left: 200px;*/
}

h2{ /* titre de section */
  font-size: 1.7em;
  padding-top: 40px;
  font-family: Cambria, Verdana, Arial;
  color: rgb(51,153,255);
  border-bottom: 1px solid rgb(51,153,255);
}

/* compteur de titre */
h2::before{
  counter-increment: compteur_titre;
  content: counter(compteur_titre) ". ";
}

/* titres de sous-sections */
h3{
  font-size: 1.2em;
  margin-top: 40px;
  font-family: Cambria, Verdana, Arial;
  color: rgb(51,153,255);
}

h4{
  font-size: 1.2em;
  font-style: italic;
  margin-top: 40px;
  font-family: Cambria, Verdana, Arial;
  color: rgb(51,153,255);
}

/* ===== PRINCIPALES BALISES ===== */

/* corps du site */
body{
  counter-reset: compteur_titre;
}

/* identifiant de section principale */
#principal{
  margin-top:5.5%;
  margin-right: 10%;
  margin-left: 30%;
  /*margin: auto; /* pour centrer le document */
}

/* pied de page */
footer{
  height: 40%;
  
  background-color: #999966;
}

/* texte de pied de page */
footer p{
    font-family: Cambria, Verdana, Arial;
    font-size: 0.9em;
    color: #828786;
    text-align: center;
}

/* paragraphes */
p{
  font-family: Cambria, Verdana, Arial;
  font-size: 1.2em;
  text-align: justify;
}

.ancre{
    margin: 10%;
}

/* classe de paragraphes de mots-clés */
.pcle{
  width: 80%;
  margin: auto;
  color: rgb(153,102,102);
  font-family: Arial, Verdana, "Trebuchet MS";
  font-size: 1.2em;
  text-align: justify;
  font-style: italic;
}

/* texte mis en valeur */
strong{
  font-weight: bold;
}

/* figure */
figure{
  text-align: center;
}

/* encadrement avec titre */
fieldset{
  width: 70%;
  margin: auto;
  border: 2px rgb(153,102,102) solid;
  border-radius: 10px;
  box-shadow: 1px 8px 12px #555;
  margin-bottom:30px;
}

fieldset2{

  width: 50px;


  padding: 10px;
  border: 2px rgb(153,102,102) solid;
  border-radius: 10px;
  box-shadow: 1px 8px 12px #555;

}

/* listes */
ul{
  font-family: Cambria, Verdana, Arial;
  font-size: 1.2em;
  list-style-image: url('puce.png');
}

/* élément de listes */
ol{
  font-family: Cambria, Verdana, Arial;
  font-size: 1.2em;
}

/* classe de légende des lignes de code */
.legendeCode{
  font-size:0.8em;
  color: #807070;
  text-align: right;
  margin-top: 5px;
  height:30px;
}

.ulExemple{
  font-family: Cambria, Verdana, Arial;
  font-size: 1.2em;
  list-style-type: square;
}

.image{
  border: 2px black solid;
  width: 60%;
}

.bloc{
  display: flex;
  align-items: center;
  justify-content: center;
}

.droite{
  margin:15px;
}

.gauche{
  margin:15px;
  margin-left:0px;
}

/* liens dans le texte */
a{
  color: black;
  text-decoration: none;
}

/* comportement des liens dans le texte au survol */
a:hover{
  font-weight: bold;
  color: rgb(153,102,102);
}

/* ===== TABLEAUX ===== */

/* tableaux */
table{
  font-family: Cambria, Verdana, Arial;
  font-size: 1.2em;
  border-collapse: collapse; /* colle les cellules du tableau entre elles */
}

/* colonnes */
td{
  font-family: Cambria, Verdana, Arial;
  padding-left: 30px;
  border: 1px solid rgb(153,102,102);
}

/* colonnes dans lesquelles se trouvent du code */
td pre{
  font-size:0.8em;
}

/* colonnes dans la 1ère ligne */
th{
  font-family: Cambria, Verdana, Arial;
  padding-left: 30px;
  border: 1px solid rgb(153,102,102);
}

/* ===== LES MISES EN FORMES POUR EXEMPLES ===== */
/* Ces mises en forme ne sont pas utilisées pour l'ensemble de la page, mais
uniquement pour l'affichage de certains exemples */

.exempleBloc:nth-child(1){ /* exemples html "La mise en page avec Flexbox" */
  background-color: #CF6084;
}
.exempleBloc:nth-child(2){
  background-color: #70995E;
}
.exempleBloc:nth-child(3){
  background-color: #33A9CC;
}
#exempleBloc10-1{
  background-color: #CF6084;
}
#exempleBloc10-2{
  background-color: #70995E;
}
#exempleBloc10-3{
  background-color: #33A9CC;
  align-self: flex-end;
}
#exempleBloc11-1{
  background-color: #CF6084;
  order: 2;
}
#exempleBloc11-2{
  background-color: #70995E;
  order: 1;
}
#exempleBloc11-3{
  background-color: #33A9CC;
  order: 3;
}
#exempleBloc12-1{
  background-color: #CF6084;
  flex: 1;
}
#exempleBloc12-2{
  background-color: #70995E;
}
#exempleBloc12-3{
  background-color: #33A9CC;
}
#exempleBloc13-1{
  background-color: #CF6084;
  flex: 2;
}
#exempleBloc13-2{
  background-color: #70995E;
  flex: 1;
}
#exempleBloc13-3{
  background-color: #33A9CC;
}
#exempleConteneur1{
  border: 1px black dotted;
  display: flex;
  flex-direction: row;
}
#exempleConteneur2{
  border: 1px black dotted;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#exempleConteneur3{
  border: 1px black dotted;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#exempleConteneur4{
  border: 1px black dotted;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#exempleConteneur5{
  border: 1px black dotted;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#exempleConteneur6{
  border: 1px black dotted;
  display: flex;
  flex-direction: row-reverse;
}
#exempleConteneur7{
  border: 1px black dotted;
  display: flex;
  flex-direction: column;
}
#exempleConteneur8{
  border: 1px black dotted;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
#exempleConteneur9{
  border: 1px black dotted;
  display: flex;
  flex-direction: column-reverse;
}
.exempleConteneur10{
  border: 1px black dotted;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.exempleConteneur12{
  border: 1px black dotted;
  display: flex;
  flex-direction: row;
}
#blocIndependant{ /* exemple html "la notion de bloc" */
  background-color: #33A9CC;
}
#span1{
  background-color: #CF6084;
}
#span2{
  background-color: #70995E;
}




